[submodule "RadianceGrabber"]
	path = RadianceGrabber
	url = https://github.com/SEETHELIGHTS/RadianceGrabber.git
[submodule "CapstonePlanning"]
	path = CapstonePlanning
	url = https://github.com/SEETHELIGHTS/CapstonePlanning.git
